{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/password_recover_v15.css' %}">
    <title>Восстановление пароля</title>
    
</head>
<body>
    <div class="auth-container">
        <div class="close-btn"></div>
        <h2>Восстановление пароля</h2>
        <div class="success-message">
            Письмо для восстановления пароля отправлено на почту
        </div>
        
        <button class="btn-primary" onclick=" location.href='password_recover_v2.html'">Восстановить пароль</button>
    </div>
</body>
</html>