{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация пользователя</title>
        <link rel="stylesheet" href="../css/password_recover_v2.css">
</head>
<body>
    <div class="auth-container">
        <h2>Введите новый пароль</h2>
        <form id="login-form" method="POST">
            {% csrf_token %}
            <p>{% if messages %}
                {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
            {% endif %}</p>
            <br>
            <label>Пароль</label>
            <div class="password-container">
                <input type="password" id="password1" placeholder="Введите новый пароль" required>
                <span class="toggle-password" onclick="togglePassword('password1')">👁️</span>
            </div>
            <br>
            <div class="password-container">
                <input type="password" id="password2" placeholder="Введите ещё раз" required>
                <span class="toggle-password" onclick="togglePassword('password2')">👁️</span>
            </div>
            <br><br>
            <button type="submit" class="btn-primary" onclick=" location.href='password_recover_v3.html'">Обновить</button>
        </form>
    </div>

    <script>
        function togglePassword(inputId) {
            const passwordInput = document.getElementById(inputId);
            const toggleIcon = passwordInput.nextElementSibling;

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                toggleIcon.textContent = "👁️‍🗨️"; // Optional: Change icon to indicate visibility
            } else {
                passwordInput.type = "password";
                toggleIcon.textContent = "👁️";
            }
        }
    </script>
</body>
</html>