<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Подтверждение Email</title>
    <link rel="stylesheet" href="../css/registr_add.css">
    <script defer src="../js/regist_add.js"></script>
</head>
<body>
    <div class="verification-container">
        <div id="verificationStatus">
            <div class="loader"></div>
            <p>Идет проверка...</p>
        </div>
        <div id="resultMessage" style="display: none;">
            <div class="status-message"></div>
            <button class="action-button" onclick="window.location.href='index.html'">Перейти к входу</button>
        </div>
    </div>

    
</body>
</html>
